@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@500&display=swap');
body{
    background-color: antiquewhite;
}
*{
    margin: 0;
    padding: 0;
}
nav{
    font-family: 'Ubuntu', sans-serif;
    position: sticky;
    top: 0;
   
}
nav ul{
    display: flex;
    color: #fff;
    background-color: black;
    align-items: center;
    height: 65px;
    padding: 0px 18px;
    list-style: none;
    cursor: pointer;
}
nav ul li{
    padding: 0px 14px;  
    
}
.img_logo{
    display: flex;
    font-weight: bolder;
    font-size: 1.3rem;
    align-items: center;
}
.img_logo img{
    height: 39px;
    padding: 0px 9px;
}
.container{
    background-image: url("bg.jpg");
    background-color: black;
    color: #fff;
    width: 80%;
    height: 110vh;
    margin: 12px auto;
    border-radius: 15px;
    padding: 12px 15px;
    font-family: 'Ubuntu', sans-serif;
    background-repeat: no-repeat;
    
}
.container .head h1{
    margin: 12px 34px 80px 0px;
    margin-bottom: 95px;
    text-align: center;
    color: cyan;
}
.container .head .songItems{
    display: flex;
    background-color: #fff;
    height: 50px;
    border-radius: 42px;
    margin: 12px 0px;
    text-align: center;
    justify-content: space-between;
    color: black;
    align-items: center;
    width: 600px;
    padding: 0px 25px 0px 10px;

}
.container .head .songItems:hover{
    background-color: chartreuse;
}
.container .head .songItems img{
    height: 43px;
    margin: 0px 13px;
    border-radius: 43px;
}
.container .head .songItems .songName{
    font-size: 20px;
}
.container .head .songItems .songStatus .songTime{
    font-size: 30px;
    margin-bottom: 5px;
}
.songStatus i{
    background-color: chartreuse;
    cursor: pointer;
    border-radius: 43px;

}
.songStatus i:hover{
    background-color:rgb(241, 16, 241);
    border-radius: 43px;
}
.bottom{
    
    position: sticky;
    bottom: 0;
    height: 130px;
    background-color: black;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.icon{
    cursor: pointer;
    border-radius: 30px;
    margin-top: 20px;
}
.icon :hover{
    background-color:rgb(241, 16, 241);
    border-radius: 30px;
}
.icon i{
    margin-top: 12px;
}

#progress{
    width: 80vw;
    cursor: pointer; 
}
.musicStatus{
    font-family: 'Baloo Bhaina 2', cursive;
}
.musicStatus img{
    position:absolute;
    right: 9vw;
    bottom: 16px;
    height: 62px;
    width: 500px;
    margin: 0px 12px 0px 0px;
    opacity: 0;
    transition: opacity 0.4s ease-in;
}
.musicStatus span{
    position:absolute;
    left: 10vw;
    bottom: 17px;
    margin-left: 12px;
    font-size: 25px;
}